{% extends "base.html" %}

{% block main %}
<form class="box"
      hx-boost="true"
      action="/roads/{{road.id}}"
      method="{{ is_new|yesno(post, put) }}"
      autocomplete="off"
>
    <label>Name: <input name="name" value="{{road.name}}"></label>
    <br/>
    <label>Shorthand: <input name="shorthand" value="{{road.shorthand}}"></label>
    <br/>
    <input type="hidden" name="id" value="{{road.id}}">
    <button type="submit">Save</button>
    <button type="button" hx-get="/roads" hx-push-url="true" hx-target="body">Cancel</button>
</form>
{% endblock %}
