{% extends "base.html" %}

{% block title %}CarCards - Waybill{% endblock %}

{% block main %}
{% let next_waybill_id = waybill.next_waybill_id.unwrap_or(0) %}
{% let header = is_new|yesno("New Waybill", waybill.consignee) %}
<h1>{{header}}</h1>
<form class="box" hx-boost="true" action="/waybills/{{waybill.id}}" method="{{is_new|yesno(post,put)}}"
      autocomplete="off">
    <label>Consignee: <input name="consignee" value="{{waybill.consignee}}"></label>
    <br/>
    <label>Description: <input name="description" value="{{waybill.description}}"/></label>
    <br/>
    <label>Routing: <input name="routing" value="{{waybill.routing}}"/></label>
    <br/>
    <label>Via: <input name="via" value="{{waybill.via}}"/></label>
    <br/>
    <label>Shipper: <input name="shipper" value="{{waybill.shipper}}"/></label>
    <br/>
    <label>From Location:&nbsp;
        <select name="from_location_id">
            {% for location in locations %}
            <option
                    {% if waybill.from_location_id== location.id %} selected {% endif %}
                    value="{{ location.id }}"
            >
                {{ location.name }}
            </option>
            {% endfor %}
        </select>
    </label>
    <label>
        To Location:&nbsp;
        <select name="to_location_id">
            {% for location in locations %}
            <option
                    {% if waybill.to_location_id== location.id %} selected {% endif %}
                    value="{{ location.id }}"
            >
                {{ location.name }}
            </option>
            {% endfor %}
        </select>
    </label>
    <br/>
    <label>
        Next Waybill:&nbsp;
        <select name="next_waybill_id">
            <option value="0">None</option>
            {% for waybill in waybills %}
            <option
                    {% if next_waybill_id== waybill.id %} selected {% endif %}
                    value="{{ waybill.id }}"
            >
                {{ waybill.consignee }}
            </option>
            {% endfor %}
        </select>
    </label>
    <input type="hidden" name="id" value="{{waybill.id}}">
    <button type="submit">Save</button>
    <button type="button" hx-get="/waybills" hx-push-url="true" hx-target="body">Cancel</button>
</form>
{% endblock %}
