
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.0.9/dist/missing.min.css">
    <title>{%block title%}Test{%endblock%}</title>
</head>
<body hx-boost="true">
<header class="navbar">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/location_types">Location Types</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/waybills">Waybills</a></li>
            <li><a href="/roads">Roads</a></li>
        </ul>
    </nav>
</header>
<main>
    {% let post = "post" %}
    {% let put = "put" %}
    {% block main %}{% endblock %}
</main>
<footer>&copy;2023</footer>
</body>
</html>