<form class="box" hx-swap="outerHTML" hx-target="this">
    <label>Name: <input name="name" value="{{location.name}}"></label>
    <br />
    <label>Description: <input name="description" value="{{location.description}}"></label>
    <br />
    <label>Location Type:&nbsp;
        <select name="location_type_id">
            {% for location_type in location_types %}
            <option value="{{ location_type.id }}">{{ location_type.name }}</option>
            {% endfor %}
        </select>
    </label>
    <input type="hidden" name="id" value="{{ location.id }}">
    <button type="submit" hx-put="/locations/{{location.id}}">Save</button>
    <button hx-get="/locations/{{location.id}}">Cancel</button>
</form>